@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  background: #f7f7f7;
}

nav {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  border-bottom: #222 1px solid;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav h1 {
  text-transform: uppercase;
  line-height: 1em;
}

nav h1 div:first-child {
  font-weight: 800;
  letter-spacing: 1.5px;
}

nav h1 div:last-child {
  font-weight: 400;
}

.start {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connected {
  text-align: center;
  margin-top: 100px;
}

.test {
  text-align: center;
}

pre {
  background: #555;
  color: #5f5;
  padding: 30px;
}

.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  max-width: 1200px;
  margin: 20px auto;
}

.key {
  border: 3px solid;
  border-radius: 10px;
  text-align: center;
  background: #f7f7f7;
}
